@import "../../vars";

:host {
  position: relative;
  display: block;
  //background: green;
  width: $canvasWidth;
  height: $canvasHeight;
  @media screen and (max-width: 992px) {
    width: $canvasWidthMobile;
    height: $canvasHeightMobile;
  }
}

.preview {
  //background: teal;
  width   : 100%;
  height  : 100%;
}
