@import "../../vars";

:host {
  position: relative;
  display: block;
  background: green;
  width   : $canvasWidth;
  height  : $canvasHeight;
}

.preview {
  background: teal;
  width   : 100%;
  height  : 100%;
}
