.images {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  //justify-content: center;
  align-items: center;
  // 2 columns grid
  //grid-template-columns: 1fr;
  padding: 20px 20px;
  margin: 0 auto;
  @media screen and (max-width:992px) {
    //grid-template-columns: 1fr;
    max-width: 100%;
  }
  > * {
    margin-bottom: 40px;
  }

}

:host {
  @media screen and (max-width:992px) {
    width: 100%;
  }
  display: block;
}

.bg-canvas {
  width: 100%;
  height: 100%;
}
.bg-canvas-wrapper {
  position: fixed;
  top:0;
  left:0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  touch-action: none;
}
