<!--<div class="images">
  <app-image  *ngFor="let image of images"
    [id]="image.id"
    [active]="image.active"
    [channelo0TexturePath]="image.channelo0TexturePath"
    [channelo1TexturePath]="image.channelo1TexturePath">
  </app-image>
</div>-->
<!--
(mouseenter)="activate(image.id)"
    (touchstart)="activate(image.id)"-->
<div class="canvas-wrapper" id="rg-canvas-wrapper">
  <!--(mouseout)="deactivateAll()"-->
  <rg-image #rgImage></rg-image>
  <div id="rg-image-loader">Loading...</div>
</div>
<!--[class.rocketed-somewhere]="!visibleCanvas"-->
<!--<div class="bg-canvas-wrapper">
  <bg-pro-plus #bgproplus></bg-pro-plus>
</div>-->
