<div class="images">
  <app-image  *ngFor="let image of images"
    [id]="image.id"
    [active]="image.active"
    [channelo0TexturePath]="image.channelo0TexturePath"
    [channelo1TexturePath]="image.channelo1TexturePath">
  </app-image>
</div>
<!--
(mouseenter)="activate(image.id)"
    (touchstart)="activate(image.id)"-->
<div class="canvas-wrapper" id="rg-canvas-wrapper" [class.rocketed-somewhere]="!visibleCanvas"
     (mouseout)="deactivateAll()"
>
  <rg-image #rgImage></rg-image>
</div>

<!--<div class="bg-canvas-wrapper">
  <bg-pro-plus #bgproplus></bg-pro-plus>
</div>-->
