.canvas-wrapper {
  width   : 600px;
  height  : 400px;
}

#rg-web-component-canvas {
  display: block;
  touch-action: none;
  background: red;
}

.hidden {
  display: none !important;
}
.img-preview {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

rg-image {
  display: block;
  width: 100%;
  height: 100%;
  background: yellow;
}
