@import "vars";

.canvas-wrapper {
  width   : $canvasWidth;
  height  : $canvasHeight;
  @media screen and (max-width: 992px) {
    width: $canvasWidthMobile;
    height: $canvasHeightMobile;
    //x-width: 90vw;
  }
  //border-top: 5px solid red;
  position: relative;

   /* &::after {
      transition: background-color 0.1s linear;
      content: '';
      display: block;
      padding-top: 100%;
      background-color: rgba(0, 0, 0, 1.0);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  &.active {
    &::after {
      background-color: rgba(0, 0, 0, 0.0);
    }
  }*/
}

.rocketed-somewhere {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
#rg-web-component-canvas {
  display: block;
  //touch-action: none;
  //background: red;
}

.hidden {
  display: none !important;
}
.img-preview {
  border-radius: 50px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

rg-image {
  display: none;
  width: 0px;
  height: 0px;
  background: yellow;
}

#rg-web-component-canvas {
  border-radius: 50px;
}
